<%- include("./partials/header") %>

    <form action="/cohorts/new" method="POST">

        <div class="form-group">
            <label for="logoUrl" style="color: black">Logo Url</label>
            <input
            type="text"
            class="form-control"
            name="logoUrl"
            placeholder="e.g. https://www.example.com/some.jpg"
            required
            />
        </div>

        <div class="form-group">
            <label for="name" style="color: black">Name</label>
            <input
            type="text"
            class="form-control"
            name="name"
            placeholder="Flying Funks"
            color="lightgrey"
            required
            />
        </div>

        <div class="form-group">
            <label for="members" style="color: black">Members</label>
            <textarea
            name="members"
            cols="60" rows="8"
            class="form-control"
            placeholder="Jonh Snow, Daenerys, Melisandre, Arya Stark"
            required
            ></textarea>
        </div>

        <div class="d-flex flex-row-reverse" >
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Submit</button>
        </div>
    </form>


<%- include("./partials/footer") %>