<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Super Picker</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

        <script src="/javascripts/jquery-3.3.1.slim.min.js"></script>
        <script src="/javascripts/popper.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>

    </head>
    <body>

    <nav class="navbar navbar-expand-sm  navbar-light bg-white mb-4">
        <a class="navbar-brand" style="color: blue" href=""> 
            Super Team Picker
        </a>

        <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse topnav justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
               
            <a class="nav-link" style="color: blue" href="/cohorts">Home</a>
            <a class="nav-link" style="color: blue" href="/cohorts/new">New Cohort</a>

            </div>
        </div>

  
    </nav>

    <div class="container-fluid" style="max-width = 576px">