<%- include("./partials/header") %>
  <body>
    <h1 mb>Hi <%= myName %>! Let's start the quiz! </h1>
    <form action="/quiz" method="POST">
        <h2 style = "margin-top: 20px">Javascript</h2>

        <div class="form-group mb-4 ">
            <label for="title">1 - What does `[] == 0` return?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question1" id="exampleRadios1" value="1">
                <label class="form-check-label" for="exampleRadios1">
                True
                </label>
            </div>    
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question1" id="exampleRadios2" value="2">
                <label class="form-check-label" for="exampleRadios2">
                False
                </label>
            </div>    
        </div>

        <div class="form-group mb-4">
            <label for="title">2 - What was the original name on JavaScript?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question2" id="exampleRadios3" value="1">
                <label class="form-check-label" for="exampleRadios3">
                Java
                </label>
            </div>    
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question2" id="exampleRadios4" value="2">
                <label class="form-check-label" for="exampleRadios4">
                Mocha
                </label>
            </div>    
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question2" id="exampleRadios5" value="3">
                <label class="form-check-label" for="exampleRadios5">
                LiveScript
                </label>
            </div>    
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question2" id="exampleRadios6" value="4">
                <label class="form-check-label" for="exampleRadios6">
                ECMAScript
                </label>
            </div>    
        </div>

        <div class="form-group mb-4 ">
            <label for="title">3 - What does `let a = {}, let b = {}; a == b` return?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question3" id="exampleRadios7" value="1">
                <label class="form-check-label" for="exampleRadios7">
                True
                </label>
            </div>    
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question3" id="exampleRadios8" value="2">
                <label class="form-check-label" for="exampleRadios8">
                False
                </label>
            </div>    
        </div>

        <div class="form-group mb-4 ">
            <label for="title">4 - What does `NaN === NaN` return?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question4" id="exampleRadios9" value="1">
                <label class="form-check-label" for="exampleRadios9">
                True
                </label>
            </div>    
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question4" id="exampleRadios10" value="2">
                <label class="form-check-label" for="exampleRadios10">
                False
                </label>
            </div>    
        </div>

        <div class="form-group mb-4 ">
            <label for="title">5 - What does `let a = {}, a == `[object Object]` return?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question5" id="exampleRadios11" value="1">
                <label class="form-check-label" for="exampleRadios11">
                True
                </label>
            </div>    
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question5" id="exampleRadios12" value="2">
                <label class="form-check-label" for="exampleRadios12">
                False
                </label>
            </div>    
        </div>

        <div class="form-group mb-4 ">
            <label for="title">6 - What would be the result of 3+2+”7″?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question6" id="exampleRadios11" value="1">
                <label class="form-check-label" for="exampleRadios11">
                327
                </label>
            </div>    
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question6" id="exampleRadios12" value="2">
                <label class="form-check-label" for="exampleRadios12">
                39
                </label>
            </div>    
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question6" id="exampleRadios13" value="3">
                <label class="form-check-label" for="exampleRadios13">
                57
                </label>
            </div>    
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question6" id="exampleRadios14" value="4">
                <label class="form-check-label" for="exampleRadios14">
                12
                </label>
            </div>    
        </div>

        <div class="form-group mb-4">
            <label for="title">7 - What are JavaScript Data Types?</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="question7" value="1" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                Number
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="question7" value="2" id="defaultCheck2">
                <label class="form-check-label" for="defaultCheck2">
                Boolean
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="question7" value="3" id="defaultCheck3">
                <label class="form-check-label" for="defaultCheck3">
                Hash
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="question7" value="4" id="defaultCheck4">
                <label class="form-check-label" for="defaultCheck4">
                Array
                </label>
            </div>
        </div>

        <div class="form-group mb-4">
            <label for="title">8 - Which symbol is used for comments in Javascript?</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="question8" value="1" id="defaultCheck5">
                <label class="form-check-label" for="defaultCheck5">
                /*   Multi Line Comment */
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="question8" value="2" id="defaultCheck6">
                <label class="form-check-label" for="defaultCheck6">
                # for Single line comments
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="question8" value="3" id="defaultCheck7">
                <label class="form-check-label" for="defaultCheck7">
                = begin Multi Line Comment =end
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="question8" value="4" id="defaultCheck8">
                <label class="form-check-label" for="defaultCheck8">
                // for Single line comments
                </label>
            </div>
        </div>

        <div class="form-group mb-4">
            <label for="title">9 - What are all the looping structures in JavaScript?</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="question9" value="1" id="defaultCheck9">
                <label class="form-check-label" for="defaultCheck9">
                Each
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="question9" value="2" id="defaultCheck10">
                <label class="form-check-label" for="defaultCheck10">
                For
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="question9" value="3" id="defaultCheck11">
                <label class="form-check-label" for="defaultCheck11">
                While
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="question9" value="4" id="defaultCheck12">
                <label class="form-check-label" for="defaultCheck12">
                do-while loops
                </label>
            </div>
        </div>
        <div class="form-group mb-4">
            <label for="title">10 - How many types of functions JavaScript supports?</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="question10" value="1" id="defaultCheck13">
                <label class="form-check-label" for="defaultCheck13">
                named
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="question10" value="2" id="defaultCheck14">
                <label class="form-check-label" for="defaultCheck14">
                un_named
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="question10" value="3" id="defaultCheck15">
                <label class="form-check-label" for="defaultCheck15">
                anonymous
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="question10" value="4" id="defaultCheck16">
                <label class="form-check-label" for="defaultCheck16">
                high order 
                </label>
            </div>
        </div>

        <input type="submit" class="btn btn-primary" value="Submit">
    </form>

<%- include("./partials/footer") %>

